<div class="container">
<h1><%= @article.title %></h1>

<h4><%= @article.creator %></h4>
<%=@article.user_id%>
<p><%= @article.body %></p>

<ul>
  <% if can? :update,@article%><li><%= link_to "Edit", edit_article_path(@article) %></li><%end%>
  <%if can? :destroy,@article %><li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li><%end%>
</ul>


<!--<%if user_signed_in?%>
<%if current_user.email==@article.creator%>-->
<!--<%end%>
<%end%>-->
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<%= link_to "Back",root_path%>
</div>
