<div class="container">
<h1><%= @article.title %></h1>

<h4><%= @article.creator %></h4>
<p><%= @article.body %></p>
<%if user_signed_in?%>
<%if current_user.email==@article.creator%>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
<%end%>
<%end%>
<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
</div>
